composio-core==0.7.4
langchain==0.3.19
langchain-anthropic==0.3.8
langgraph==0.3.2
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
python-dotenv==1.0.1
pydantic==2.10.6
pydantic[email]
pydantic[email,timezone]
polars==1.22.0
composio-langchain==0.7.4